body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 1.5rem;
}

main {
	margin: auto;
	max-width: 70ch;
	font-family: sans-serif;
}
