@keyframes tornado {
    100% {
        transform: rotate(-1turn);
    }
}

.rotate {
    animation: tornado linear calc(20s + 1s * var(--i)) infinite;
    position: absolute;
    bottom: 50%;
    top: 50%;
    left: 50%;
    right: 50%;
}

.main {
    width: 100dvw;
    height: 100dvh;
    margin: auto;
}